:root,
[data-theme='default'] {
    --teal: 26, 188, 156;
    --green: 46, 204, 113;
    --blue: 52, 152, 219;
    --purple: 155, 89, 182;
    --black: 52, 73, 94;
    --yellow: 241, 196, 15;
    --orange: 230, 126, 34;
    --red: 231, 76, 60;
    --lightgray: 236, 240, 241;
    --gray: 149, 165, 166;
}
