@use '../styles/global.scss';

button {
    display: inline-flex;
    align-items: center;
    padding: 8px 10px;
    cursor: pointer;
    border: solid 1px RGB(var(--gray));
    background-color: RGBA(var(--lightgray), 0.5);
    &.rounded {
        border-radius: 6px;
    }
    &.pill {
        border-radius: 2rem;
    }
    & svg.svgIcon {
        width: 1rem;
        margin-right: 5px;
    }
    &:hover {
        background-color: RGBA(var(--lightgray), 1);
    }
}
