@use '../../styles/global.scss';

input {
    display: inline-flex;
    align-items: center;
    padding: 8px 10px;
    cursor: pointer;
    border: solid 1px RGB(var(--gray));
    background-color: RGBA(var(--lightgray), 0.5);
    &.rounded {
        border-radius: 6px;
    }
    &.pill {
        border-radius: 2rem;
    }
    &.fullWidth {
        width: 100%;
    }
    &.error {
        border: 2px solid RGBA(var(--red), 1);
    }
    &:hover {
        background-color: RGBA(var(--lightgray), 1);
    }
    &::placeholder {
        color: RGBA(var(--gray), 0.8);
    }
}

.svgContainer {
    width: 1rem;
    margin-right: 5px;
    position: relative;
    & div {
        position: absolute;
        top: 0.45rem;
        left: 0.45rem;
    }
}

input.pl30 {
    padding-left: 30px;
}

p.errorText {
    size: 8px;
    font-style: italic;
    color: RGBA(var(--red), 1);
    margin-top: 5px;
}
